:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;


  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


    h1 {
      font-size: 65px;
      font-weight: 700;
      letter-spacing: -2px;
    }
    h2 {
      font-size: 26;
      font-weight: 600;

    }
  }

  .descricao {
    font-size: 13px;
    font-weight: 500;
    width: 700px;
    text-align: center;

  }
  button {
    border-radius: 25px;

  }
}
