<div class="profile-image-container">
  <img ngSrc="/assets/img/Mask group.png" alt="Ibrahim Memon Profile Picture" width="231" height="231" priority>
</div>
<div class="title">
  <h1>Igor Martins!</h1>
  <h2>I do Code & Chill 🍿</h2>
</div>
<div>
  <p class="descricao">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sed perspiciatis maxime nemo reprehenderit non est voluptas, accusamus minus, a veniam repellat enim voluptatem perferendis recusandae odit dolores, consectetur
    cumque.</p>
</div>
<div>
  <button appButton="secondary">Contact me</button>
</div>
