.app-button {
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-tertiary);
  font-family: inherit;
  height: 35px;
  font-size: 13px;
  padding: 0 18px;
  font-weight: 500;

  &--primary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  &--secondary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  &--rounded {
    border-radius: 25px;
  }
}
