:host {
  display: block;
  width: 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: -30px;
  right: 0;
  left: auto;
  width: 100%;
  height: calc(100% + 30px);
  z-index: 1;
  object-fit: cover;
  object-position: top;
}

.content-wrapper {
  position: relative;
  width: 1170px;
  margin: 40px auto;
}
