:host {
  display: block;
  width: 1170px;
  margin: 20px auto;
  position: relative;
}

.background-image {
  position: fixed;
  top: -40px;
  right: 0;
  width: 100%;
  z-index: 1;
  object-fit: cover;
}

.content-wrapper {
  position: relative;
  z-index: 2;
}
