:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-block: 120px;
  gap: 30px;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;

  .fa-brands {
    text-decoration: none;
    color: var(--color-secondary);
  }

  i {
    font-size: 30px;
  }
}

.description {
    font-size: 12px;
    color: var(--color-quinary);
}
