:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-weight: 400;

  .job-title {
    font-size: 18px;
  }
}
