<app-hero-section />
<!-- <img class="background-image" src="/assets/images/background-home.png" priority> -->
<app-section-wrapper>
  <span title>About Me</span>
  <span subtitle><span class="subtitle-background">Explore now</span></span>
  <p>
    Explore my work, learn about my expertise, and discover how I can contribute to your next project. Dive in to see
    what I've been working on!
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt id, doloremque, ullam nostrum, soluta veniam
    itaque neque ex odio quis excepturi qui beatae facilis autem aliquam rerum vitae totam fuga!</p>
</app-section-wrapper>
<app-section-wrapper>
  <span title>EXPERIENCE</span>
  <span subtitle><span class="subtitle-background">Explore now</span></span>
  <p>
    Here are a few projects I've worked on recently. Want to see more? Visit my GitHub profile for additional projects
    and contributions.
  </p>
</app-section-wrapper>
