<app-hero-section />
<app-section-wrapper title="About Me" subtitle="Explore now">
  @for(item of profile?.about; track item){
  <p>{{item}}</p>
  }
</app-section-wrapper>
<app-section-wrapper title="experience" subtitle="explore now">
  @for(i of profile?.experience; track i.company){
  <div class="experience-header">
    <p class="job-title"><strong> {{i.company}} /</strong> {{i.role}} </p>
    <p class="job-date"> {{i.startDate}} / {{i.endDate}} | {{i.location}} </p>
  </div>

  <P class="job-description"> {{i.description}} </P>
  <div class="icons-wrapper">
    <i class="ptf-icon fa-brands fa-square-js"></i>
    <i class="ptf-icon fa-brands fa-html5"></i>
    <i class="ptf-icon fa-brands fa-css3-alt"></i>
  </div>
  <br><br>
}
</app-section-wrapper>
<app-section-wrapper title="projects" subtitle="explore now">
  <div class="projects-wrapper">
    <app-project title="project1" description="description project asdasdadasdsadasdasdasdasdasdasddkkkk"
      urlImage="/assets/images/logo-fake.jpg" />
    <app-project title="project1"
      description="description project asdasdadasdsadasdasdasdasdasdasddddddddddddddddddddddddddddddddddddd"
      urlImage="/assets/images/logo-fake.jpg" />
    <app-project title="project1"
      description="description project asdasdadasdsadasdasdasdasdasdasddddddddddddddddddddddddddddddddddddd"
      urlImage="/assets/images/logo-fake.jpg" />
    <app-project title="project1"
      description="description project asdasdadasdsadasdasdasdasdasdasddddddddddddddddddddddddddddddddddddd"
      urlImage="/assets/images/logo-fake.jpg" />
  </div>
</app-section-wrapper>
