:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 
.subtitle-background {
  background-image: linear-gradient(to right, #9C83FF, #FF9051);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
