<app-hero-section />
<!-- <img class="background-image" src="/assets/images/background-home.png" priority> -->

<app-section-wrapper title="About Me" subtitle="Explore now">
  <p>
    Explore my work, learn about my expertise, and discover how I can contribute to your next
    project. Dive in to see what I've been working on!
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt id, doloremque, ullam
    nostrum, soluta veniam itaque neque ex odio quis excepturi qui beatae facilis autem aliquam
    rerum vitae totam fuga!
  </p>
</app-section-wrapper>
<app-section-wrapper title="experience" subtitle="explore now">
  <div class="experience-header">
    <p class="job-title"><strong>BS2 /</strong> Front-end developer</p>
    <p class="job-date">NOV 2025 - PRESENT | Belo Horizonte</p>
  </div>
  <P class="job-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto minima
    iste
    reiciendis. Reprehenderit id, necessitatibus consectetur nemo minus aspernatur rem laboriosam
    sint reiciendis perferendis iure ex, distinctio esse molestias.</P>
  <div class="icons-wrapper ">
    <i class="ptf-icon fa-brands fa-square-js"></i>
    <i class="ptf-icon fa-brands fa-html5"></i>
    <i class="ptf-icon fa-brands fa-css3-alt"></i>
  </div>

</app-section-wrapper>
<app-section-wrapper title="projects" subtitle="explore now">

  <div class="projects-wrapper">
    <app-project title="project1" description="description project asdasdadasdsadasdasdasdasdasdasddkkkk" urlImage="/assets/images/logo-fake.jpg" />
    <app-project title="project1" description="description project asdasdadasdsadasdasdasdasdasdasddddddddddddddddddddddddddddddddddddd" urlImage="/assets/images/logo-fake.jpg" />
    <app-project title="project1" description="description project asdasdadasdsadasdasdasdasdasdasddddddddddddddddddddddddddddddddddddd" urlImage="/assets/images/logo-fake.jpg" />
    <app-project title="project1" description="description project asdasdadasdsadasdasdasdasdasdasddddddddddddddddddddddddddddddddddddd" urlImage="/assets/images/logo-fake.jpg" />

  </div>

</app-section-wrapper>
