@use 'app/shared/directives/button.directive.scss';
:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #9a9a9a;
  --color-quaternary: #e1e1e1;

  --color-gradient-1: #9c83ff;
  --color-gradient-2: #ff9051;
  --color-linear-subtitle: linear-gradient(
    to right,
    var(--color-gradient-1),
    var(--color-gradient-2)
  );
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.ptf-gradient-text {
  background-image: var(--color-linear-subtitle);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
