@use "app/shared/directives/button.directive.scss";
:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #9a9a9a;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary)
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

