<img
  ngSrc="/assets/images/me.png"
  alt="Ibrahim Memon Profile Picture"
  width="231"
  height="231"
  priority
/>

<div class="title">
  <h1>Igor Martins!</h1>
  <h2>I do Code & <span class="subtitle-linear">Chill</span> 🍿</h2>
</div>

<p class="descricao">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sed perspiciatis maxime nemo
  reprehenderit non est voluptas, accusamus minus, a veniam repellat enim voluptatem perferendis
  recusandae odit dolores, consectetur cumque.
</p>

<button appButton="secondary" [rounded]="true">Contact me</button>
