:host {
  display: flex;
  width: 587px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 122px;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;

    h1 {
      font-size: 65px;
      font-weight: 700;
      letter-spacing: -2px;
    }

    h2 {
      font-size: 26px;
      font-weight: 600;
    }
  }

  .descricao {
    font-size: 16px;
    text-align: center;
    color: var(--color-quaternary);
  }
  
  button {
    width: 187px;
    height: 55px;
  }
}
